*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: lightgoldenrodyellow;
}

main{
    background-image: linear-gradient(to bottom, lightgoldenrodyellow, gold);
}

footer{
    background-color: gold;
}